@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&family=Cormorant+Upright&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
h1, h2, h3, h4 {
    font-family: fantasy, 'Cormorant Unicase', serif;
    color: #401b0c;
    
}
body {
    font-family: 'Cormorant Unicase', serif;
}
header {
    margin: 30px;
}
#logo {
    float:left;
    color: #401b0c;
}

#nav-bar li {
    display: inline;
}
#nav-bar a {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    color:#401b0c;
    font-size: 120%;
    font-family: fantasy, 'Cormorant Unicase', serif;;
}
#hero-image { 
    height: 600px;
    width: 100%;
    clear: both;
    background-image: url("../images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}