@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&family=Cormorant+Upright&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
h1, h2, h3, h4 {
    font-family: fantasy, 'Cormorant Unicase', serif;
    color: #401b0c;
    
}
body {
    font-family: 'Cormorant Upright', serif;
    font-weight: bold;
    font-size: larger;
    background-image: url(../images/leaves.jpg);
    background-position: right top;
    background-size: contain;
    background-repeat: repeat-y;
    background-blend-mode: lighten;
}

header {
    margin: 16px;
}
#logo {
    float:left;
    color: #401b0c;
}

#nav-bar li {
    display: inline;
}
#nav-bar a {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    color:#401b0c;
    font-size: 120%;
    font-family: fantasy, 'Cormorant Unicase', serif;
}
#hero-image { 
    height: 400px;
    width: 100%;
    clear: both;
    background-image: url("../images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 150%;
    padding-top: 10%;
}
#hero-image > div {
    padding-bottom: 85px;

}
#hero-image h1 {
    font-size: 300%;
    font-weight: bolder;
}
#introduction {
    width: 50%;
    padding: 80px;
}
#introduction > p {
    padding-top: 3%;
}
#byword {
    padding: 60px 50% 60px 40px;
    text-align: right;
}
.square-menu {
    display: inline-block;
     width: 110px;
     height: 110px;
     border-radius: 25%;
     background-image: url(../images/pumpkins.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
     margin-right: 30px;
     
 }
 #menu-links {
     text-align: center;
     padding-top: 40px;
 }
 .square-menu h3 {
    text-align: left;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bold; 
    padding: 50px 0 3px 3px;  
}
.square-menu a {
    color: #401b0c;
}
footer {
    height: 120px;
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.socials {
    text-align: center;
    height: 120px;
}
.socials > li {
display: inline;
}
.socials i {
font-size: 300%;

padding: 2% 5% 0 5%;
color: #401b0c;
}